html,
body,
#page-container {
  font-family: Roboto;
  font-size: 50px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-height: fit-content;
}

body {
  display: flex;
  flex-direction: column;
}

#page-container {
  flex: 1;
  text-align: center;
  padding-right: var(--pico-spacing);
  padding-left: var(--pico-spacing);
  display: grid;
  transition: grid-template-columns 1s ease;
  grid-template-columns: repeat(12, [col-start] 1fr);
  justify-content: center;
  align-items: stretch;
  gap: var(--pico-grid-column-gap);
}
