html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  --active-color: rgb(255, 191, 0);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  flex: 0;
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

h1 {
  margin: 0 !important;
  flex: 0 0 50%;
}

#main-container {
  flex: 1;
  display: grid;
  grid-template-columns: 300px 6px 1fr 6px 1fr;
  overflow: hidden;
  padding-bottom: 0;
}

/* Sidebar */
.sidebar {
  overflow: auto;
  padding: 1rem;
  background:
    linear-gradient(180deg, rgba(255, 255, 255, 0.03), transparent),
    var(--pico-muted-background);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

article.active {
  border: var(--active-color) 1px solid;
}

button.active {
  background-color: var(--active-color);
  border-color: var(--active-color);
}

#game-current-state,
#question-container {
  margin: 0;
  display: flex;
  flex-direction: column;
}

#game-current-state>div,
#question-answers-container {
  flex: 1;
  min-height: 0;
  overflow: auto;
}

#game-current-state>footer>div,
#question-actions>div {
  margin-bottom: 0;
}

#game-current-state>footer,
#question-actions {
  flex: 0;
}

#question-actions {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.game-admin-interaction-other,
.game-admin-interaction-advance,
#person-dialog-cancel,
#person-dialog-delete {
  flex: 1 1 0 !important;
}

#question-timer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 2.5rem;
  aspect-ratio: 1;
  padding: 0.25rem;
  border: 5px solid var(--active-color);
  border-radius: 50%;
  margin: .5em;
}

button {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  justify-content: center;
}

#person-dialog-delete {
  background-color: rgb(217, 53, 38);
  border-color: rgb(217, 53, 38);
}


/* Columns */
.col {
  display: grid;
  grid-template-rows: 1fr 6px 1fr;
  overflow: hidden;
}

/* Panels */
.panel {
  overflow: auto;
  padding: 1rem;
}

/* Resizers */
.resizer {
  background: color-mix(in srgb,
      var(--pico-background-color),
      var(--pico-color) 12%);
}

.resizer:hover {
  background: var(--pico-primary);
}

.col-resizer {
  cursor: col-resize;
}

.row-resizer {
  cursor: row-resize;
}