#landscape-overlay {
  display: none;
}

@media screen and (orientation: landscape) {
  #landscape-overlay {
    display: flex;
    width: var(--vw);
    flex: 1;
    margin: 0;
    overflow: hidden;
    min-height: fit-content;
    padding-right: var(--pico-spacing);
    padding-left: var(--pico-spacing);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--pico-grid-column-gap);
  }

  #page-container {
    display: none !important;
  }
}

html,
body,
#page-container {
  font-size: 1.4rem;
  width: var(--vw, 100vw);
  height: var(--vh, 100vh);
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-height: fit-content;
}

body {
  display: flex;
  flex-direction: column;
}

#page-header {
  flex: 0 0 auto;
  padding: 0 0 0 var(--pico-spacing);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin: 10px;
  border: var(--pico-primary-border) 2px solid;
  border-radius: 32px;
}
#page-header.hidden, #page-footer.hidden {
  display: none !important;
}
#page-header img {
  width: 60px;
  height: 60px;
}

#page-footer {
  align-self: center;
  width: fit-content;
  flex: 0 0 auto;
  padding: 5px var(--pico-spacing);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--pico-grid-column-gap);
  font-size: 16px;
  margin: 10px;
  border: var(--pico-secondary-border) 2px solid;
  border-radius: 32px;
}
#page-footer span {
  display: flex;
}

#page-container {
  flex: 1;
  text-align: center;
  width: var(--vw);
  padding-right: var(--pico-spacing);
  padding-left: var(--pico-spacing);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--pico-grid-column-gap);
}