html,
body,
#page-container {
  width: var(--vw, 100vw);
  height: var(--vh, 100vh); 
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-height: fit-content;
}

#page-container {
  width: var(--vw);
  height: var(--vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
* {
  outline: 1px solid red;
}