html,
body,
#page-container {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#page-container {
  width: var(--vw);
  height: var(--vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}